.userInfoWrapper{
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.btn {
  background-color: #fff;
  border: 1px solid wheat;
  padding: 10px 15px;
  position: relative;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  transition: all 300ms ease;
  max-width: 150px;
  text-align: center;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.573);
}