body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
  font-family: 'Inter', sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;
}

/* aside */

aside {
  display: flex;
  padding: 20px 20px 30px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
  background: #f1f6fa;
}

.userName {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  padding: 10px 0;
}

.aboutUserContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutUserContainer div {
  display: grid;
  grid-template-columns: 4.5fr 6fr;
}

.aboutUserContainer * {
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}

.aboutUserContainer h2 {
  font-weight: 700;
}

.aboutUserContainer span {
  font-weight: 400;
}

.userSocialContacts h2,
.userGoalsContainer h2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.userSocialContacts {
  padding-bottom: 47px;
}

.socialWrapper {
  display: flex;
}

.socialWrapper a {
  margin-right: 15px;
}

.socialWrapper a:last-child {
  margin-right: 0;
}

.userGoalsContainer p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutSelf {
  padding: 30px;
  display: flex;
  border: 1px solid #e4ecf2;
}

.aboutSelf::before {
  content: '';
  background-image: url('./assets/img/emoji/EmojiWomen.png');
  display: block;
  min-width: 40px;
  height: 40px;
  margin-right: 20px;
}

.aboutSelfConteiner * {
  margin-bottom: 8px;
}

.aboutSelfConteiner *:last-child {
  margin-bottom: 0;
}

.aboutSelfConteiner h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aboutSelfConteiner p {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.goalsAndProblems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.card {
  padding: 6px 20px 20px 20px;
  border: 1px solid #e4ecf2;
}

.cardImg {
  margin: 12px 0;
}

.cardTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.cardDescription {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 8px;
}

.cardDescription li {
  margin-bottom: 8px;
}

.cardDescription:last-child,
.cardDescription li:last-child {
  margin-bottom: 0;
}

/* card borders */

.borderGreen {
  border-top: 4px solid #8fcf27;
}

.borderRed {
  border-top: 4px solid #cf2727;
}

.borderOrange {
  border-top: 4px solid #f4bf00;
}

.borderAqua {
  border-top: 4px solid #19e5e5;
}

.borderBlue {
  border-top: 4px solid #274ccf;
}

.quote {
  padding: 30px;
  display: flex;
  gap: 15px;
  border: 1px solid #e4ecf2;
  background: #f0f9ff;
}

.quote p {
  font-size: 17px;
  font-style: italic;
  font-weight: 500;
  line-height: 160%;
}

.quote::before {
  content: '';
  display: block;
  background-image: url('./assets/img/emoji/Quote.png');
  min-width: 23.156px;
  height: 20px;
}

.aboutSite {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
